@charset "UTF-8";
/* Responsive*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
}
.header__logo {
  width: 270px;
  height: 95px;
}

.main {
  margin: 0 5rem;
}

input {
  font-family: "Lato", sans-serif;
}

.mb-3 {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.form-control--modif {
  margin-right: -1px;
  background-color: #e7e7e7;
  padding: 15px;
  height: 4rem;
  border: none;
}

.btn-outline-secondary {
  border: none;
  background-color: #e7e7e7;
}
.btn-outline-secondary .fa-search {
  color: black;
}

.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-radius: 0.25rem;
}

/* Tags selectionnés*/
.tags__Selected {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.tags__Selected div {
  margin: 0.5rem 1rem 1rem 0;
  padding: 6px 8px;
  border-radius: 5px;
  color: #ffffff;
  width: 107px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}
.tags__Selected div .fa-times-circle {
  margin-left: 10px;
}
.tags__Selected .tagsIgredients {
  background-color: #3282f7;
}
.tags__Selected .tagsAppareils {
  background-color: #68d9a4;
}
.tags__Selected .tagsUstensiles {
  background-color: #ed6454;
}

#monIconCircle {
  padding: 6px 5px 6px 0;
  margin-right: -5px;
}

.filtresContainer {
  display: flex;
  flex-wrap: wrap;
}

/*Listes des tags*/
.dropdown {
  display: block;
  margin-right: 2rem;
  margin-top: 1rem;
}
.dropdown--ingredients {
  background-color: #3282F7;
  border-radius: 0 5px 5px 5px;
}
.dropdown--appareil {
  background-color: #68D9A4;
  border-radius: 0 5px 5px 5px;
}
.dropdown--ustensiles {
  background-color: #ED6454;
  border-radius: 0 5px 5px 5px;
}
.dropdown .fa-chevron-down {
  color: white;
}
.dropdown .show .fa-chevron-down {
  animation-name: btnFiltres;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.dropdown ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 45vw;
  padding: 1rem;
  margin-top: -5px;
}
.dropdown ul li {
  list-style-type: none;
  width: 33%;
  margin-bottom: 0.5rem;
}
.dropdown ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}
.dropdown ul li a:hover {
  color: #000000;
  text-decoration: none;
}
.dropdown ul li:hover {
  background-color: #e7e7e7;
}
.dropdown .hide {
  display: none;
}

.inputFiltres {
  height: 4rem;
  padding: 0px 15px;
  border: none;
  font-size: 18px;
  color: #ffffff;
  flex-grow: 1;
  width: 8.2rem;
}
.inputFiltres::placeholder {
  color: #ffffff;
  font-size: 18px;
}
.inputFiltres:focus-visible {
  outline: 0;
}

.btn:focus {
  box-shadow: none;
}

/* filtres Ingredients*/
.filtres--ingredients {
  background-color: #3282f7;
  border-radius: 5px;
  border: none;
}
.filtres--ingredients .inputIngredients {
  background-color: #3282f7;
}

/* filtres Appareil*/
.filtres--appareil {
  background-color: #68D9A4;
  border-radius: 5px;
  border: none;
}
.filtres--appareil .inputAppareil {
  background-color: #68D9A4;
}

/* filtres Ustensiles*/
.filtres--ustensiles {
  background-color: #ED6454;
  border-radius: 5px;
  border: none;
}
.filtres--ustensiles .inputUstensiles {
  background-color: #ED6454;
}

#listRecipiesContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.figure {
  height: 364px;
  width: 380px;
  margin-top: 2.5rem;
  border-radius: 5px;
}
.figure__img {
  height: 178px;
  width: 100%;
  background-color: #c7bebe;
  border-radius: 5px 5px 0px 0px;
  padding: 1px;
  object-fit: cover;
}
.figure .figcaption {
  background-color: #e7e7e7;
  height: 186px;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  padding: 15px;
}
.figure .figcaption__titre {
  font-size: 18px;
}
.figure .figcaption__temps {
  margin-top: -2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
}
.figure .figcaption__temps .far {
  margin-right: 10px;
}
.figure .figcaption__ingredients {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 105px;
  font-size: 12px;
  padding-left: 0rem;
  width: 171px;
}
.figure .figcaption__ingredients ul {
  margin-bottom: 0rem;
}
.figure .figcaption__ingredients li {
  list-style-type: none;
}
.figure .figcaption__description {
  width: 171px;
  font-size: 0.9rem;
  line-height: 12px;
  height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  float: right;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

@keyframes btnFiltres {
  0% {
    transform: rotate(0deg);
    transition: 0.5s;
  }
  100% {
    transform: rotate(180deg);
    transition: 1s;
  }
}
/*Media Queries mobile*/
@media screen and (max-width: 991px) {
  .main {
    margin: 0 2rem;
  }

  .filtres__select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .filtres__select__selected {
    margin: 1%;
    margin-left: 0;
    padding: 1px 8px;
    border-radius: 5px;
    background-color: #3282f7;
  }
  .filtres__select__selected .fa-times-circle {
    padding: 5px;
  }

  #listRecipiesContainer {
    flex-direction: column;
  }

  .recettesContainer {
    margin-right: 0rem;
  }

  .figure {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
