.main {
    margin: 0 5rem;
}

input {
    font-family: "Lato", sans-serif;
}

.mb-3 {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.form-control--modif {
    margin-right: -1px;
    background-color: #e7e7e7;
    padding: 15px;
    height: 4rem;
    border: none;
}

.btn-outline-secondary {
    border: none;
    background-color: #e7e7e7;
    .fa-search {
        color: $color-black;
    }
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-radius: 0.25rem;
}
/* Tags selectionnés*/

.tags__Selected {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    div {
        margin: 0.5rem 1rem 1rem 0;
        padding: 6px 8px;
        border-radius: 5px;
        color: $color-white;
        width: 107px;
        height: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        .fa-times-circle {
            margin-left: 10px; 
        }
    }
    .tagsIgredients {
        background-color: $color-ingredients;
    }
    .tagsAppareils {
        background-color: $color-appareil;   
    }
    .tagsUstensiles {
        background-color: $color-ustensiles;   
    }
}

.monIconCircle {
    padding: 6px 5px 6px 0;
    margin-right: -5px;
}

.filtresContainer {
    display: flex;
    flex-wrap: wrap;
}

/*Listes des tags*/
.dropdown {
    display: block;
    margin-right: 2rem;
    margin-top: 1rem;
    &--ingredients{
        background-color: #3282F7;
        border-radius: 0 5px 5px 5px;
    }
    
    &--appareil{
        background-color: #68D9A4;
        border-radius: 0 5px 5px 5px;
    }
    
    &--ustensiles{
        background-color: #ED6454;
        border-radius: 0 5px 5px 5px;
    }
    .fa-chevron-down {
        color: white;
    }
   
    .show .fa-chevron-down {
        animation-name: btnFiltres;
        animation-duration: 1s;
        animation-fill-mode: both;
    }
    ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 45vw;
        padding: 1rem;
        margin-top: -5px;
        li {
            list-style-type: none;
            width: 33%;
            margin-bottom: 0.5rem;
            a.tagSelected {
                text-decoration: none;
                color: #000000;
                font-size: 18px;
                font-family: "Lato", sans-serif;
                background-color: #ffffff;
                border-radius: 20px;
            }
            a {
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
    .hide {
        display: none;
    }
}

.inputFiltres {
    height: 4rem;
    padding: 0px 15px;
    border: none;
    font-size: 18px;
    color: #ffffff;
    flex-grow: 1;
    width: 8.2rem;
    &::placeholder {
        color: #ffffff;
        font-size: 18px;
    }
    &:focus-visible {
        outline: 0;
    }
}

.btn:focus {
    box-shadow: none;
}

/* filtres Ingredients*/
.filtres--ingredients {
    background-color: #3282f7;
    border-radius: 5px;
    border: none;
    .inputIngredients {
        background-color: #3282f7;
    }
}

/* filtres Appareil*/
.filtres--appareil {
    background-color: #68D9A4;
    border-radius: 5px;
    border: none;
    .inputAppareil {
        background-color: #68D9A4;
    }
}

/* filtres Ustensiles*/
.filtres--ustensiles {
    background-color: #ED6454;
    border-radius: 5px;
    border: none;
    .inputUstensiles {
        background-color: #ED6454;
    }
}

// Les recettes cartes
#listRecipiesContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.figure {
    height: 364px;
    width: 380px;
    margin-top: 2.5rem;
    border-radius: 5px;
    &__img {
        height: 178px;
        width: 100%;
        background-color: $color-inactive;
        border-radius: 5px 5px 0px 0px;
        padding: 1px;
        object-fit: cover;
    }
    .figcaption {
        background-color: $color-shadow;
        height: 186px;
        width: 100%;
        border-radius: 0px 0px 5px 5px;
        padding: 15px;
        &__titre {
            font-size: 18px;
        }
        &__temps {
            margin-top: -2rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 18px;
            .far {
                margin-right: 10px;
            }
        }
        &__ingredients {
            position: absolute;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 105px;
            font-size: 12px;
            padding-left: 0rem;
            width: 171px;
            ul {
                margin-bottom: 0rem;
            }
            li {
                list-style-type: none;
            }
        }
        &__description {
            width: 171px;
            font-size: 0.9rem;
            line-height: 12px;
            height: 110px;
            overflow: hidden;
            text-overflow: ellipsis;
            float: right;
            font-size: 12px;
            font-family: "Roboto", sans-serif;
        }  
    }
}

@keyframes btnFiltres{
    0% {
        transform: rotate(0deg);
        transition: 0.5s;
    }
    100% {
        transform: rotate(180deg);
        transition: 1s;
    }
}