.main {
    margin: 0 4rem;
}

input {
    font-family: "Lato", sans-serif;
}

.mb-3 {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.form-control--modif {
    margin-right: -1px;
    background-color: #e7e7e7;
    padding: 15px;
    height: 4rem;
    border: none;
}

.btn-outline-secondary {
    border: none;
    background-color: #e7e7e7;
    .fa-search {
        color: $color-black;
    }
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-radius: 0.25rem;
}
/* Tags selectionnés*/
.filtres {
    text-decoration: none;
    color: $color-black;
    &__select {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &__selected {
            margin: 0.5rem 0 1rem 0;
            padding: 6px 8px;
            border-radius: 5px;
            background-color: $color-ingredients;
            color: $color-white;
            width: 107px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: bold;
            .fa-times-circle {
                padding: 5px;
                margin-left: 10px; 
            }
        }
    }
}

.filtresContainer {
    display: flex;
    flex-wrap: wrap;
}

/*Listes des tags*/
.dropdown {
    display: block;
    margin-right: 2rem;
    margin-top: 1rem;
    &--ingredients{
        background-color: #3282F7;
        border-radius: 0 5px 5px 5px;
    }
    
    &--appareil{
        background-color: #68D9A4;
        border-radius: 0 5px 5px 5px;
    }
    
    &--ustensiles{
        background-color: #ED6454;
        border-radius: 0 5px 5px 5px;
    }
    .fa-chevron-down {
        color: white;
    }
    .input-group {
        width: auto;
        .fa-chevron-down {
            animation-name: btnFilt;
            animation-duration: 0.5s;
            animation-fill-mode: backwards;
        } 
    }
    .show .fa-chevron-down{
        animation-name: btnFiltres;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 45vw;
        padding: 1rem;
        margin-top: -5px;
        li {
            list-style-type: none;
            width: 33%;
            a {
                text-decoration: none;
                color: #ffffff;
                font-size: 18px;
                font-family: "Lato", sans-serif;
            }
            a:hover {
                color: #000000;
                text-decoration: none;
            }
            &:hover {
                background-color: #e7e7e7;
            }
        }
    }
    .hide {
        display: none;
    }
}

.inputFiltres {
    height: 4rem;
    padding: 0px 15px;
    border: none;
    font-size: 18px;
    color: #ffffff;
    flex-grow: 1;
    width: 8.2rem;
    &::placeholder {
        color: #ffffff;
        font-size: 18px;
    }
    &:focus-visible {
        outline: 0;
    }
}

.btn:focus {
    box-shadow: none;
}

/* filtres Ingredients*/
.filtres--ingredients {
    background-color: #3282f7;
    border-radius: 5px;
    border: none;
    .inputIngredients {
        background-color: #3282f7;
    }
}

/* filtres Appareil*/
.filtres--appareil {
    background-color: #68D9A4;
    border-radius: 5px;
    border: none;
    .inputAppareil {
        background-color: #68D9A4;
    }
}

/* filtres Ustensiles*/
.filtres--ustensiles {
    background-color: #ED6454;
    border-radius: 5px;
    border: none;
    .inputUstensiles {
        background-color: #ED6454;
    }
}

// Les recettes cartes
#listRecipiesContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.recettesContainer {
    margin-right: 2.5rem;
}

.figure {
    height: 23rem;
    width: 25rem;
    margin-top: 2.5rem;
    border-radius: 5px;
    &__img {
        height: 10rem;
        width: 100%;
        background-color: $color-inactive;
        border-radius: 5px 5px 0px 0px;
        padding: 1px;
    }
    .figcaption {
        background-color: $color-shadow;
        height: 12rem;
        width: 100%;
        border-radius: 0px 0px 5px 5px;
        padding: 15px;
        &__titre {
            font-size: 18px;
        }
        &__temps {
            margin-top: -2rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 18px;
            .far {
                margin-right: 10px;
            }
        }
        &__ingredients {
            position: absolute;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 7rem;
            font-size: 12px;
            padding-left: 0rem;
            ul {
                margin-bottom: 0rem;
            }
            li {
                list-style-type: none;
            }
        }
        &__description {
            width: 10rem;
            font-size: 0.9rem;
            line-height: 12px;
            height: 7rem;
            overflow: hidden;
            text-overflow: ellipsis;
            float: right;
            font-size: 12px;
            font-family: "Roboto", sans-serif;
        }  
    }
}

@keyframes btnFilt {
    0% {
        transform: rotate(0deg);
        transition: 0.5s;
    }
}
@keyframes btnFiltres{
    100% {
        transform: rotate(180deg);
        transition: 1s;
    }
}