/*Media Queries mobile*/
@media screen and (max-width: $breakpoint-mobile) {
    .main {
        margin: 0 2rem;
    }
    .selectList {
        width: 100%;
        ul li {
            width: 100%;
        }
    }
    #listRecipiesContainer {
        flex-direction: column;
        margin-top: 15rem;
    }
    .recettesContainer {
        margin-right: 0rem;
    }
    .figure {
        width: 100%;
    }
    .filtresContainer {
        flex-direction: column;
    }
    .inputFiltres {
        width: 100%;
    }

}

/*Media Queries tablette*/
@media screen and (min-width: $breakpoint-tablette) {
    .selectList {
        ul li {
            width: 50%;
        }
    }
    .main {
        margin: 0 1.5rem;
    }
}

@media screen and (max-width: $breakpoint-tabletteplus) {
    #listRecipiesContainer {
        flex-direction: column;
       // margin-top: 15rem;
    }
    .figure {
        width: 100%;
    }
}

/*Media Queries desktop*/
@media screen and (min-width: $breakpoint-desktop) {
    .selectList {
        ul li {
            width: 33%;
        }
    }
}