$color-footer: #383737;
$color-black: black;
$color-white: #ffffff;
$color-ingredients: #3282f7;
$color-appareil: #68d9a4;
$color-ustensiles: #ed6454;
$color-shadow: #e7e7e7;
$color-inactive: #c7bebe;

/* Responsive */
$breakpoint-mobile: 767px;
$breakpoint-tablette: 768px;
$breakpoint-desktop: 1024px;
